@charset "utf-8";
/* ===================================================================
CSS information
 file name  :  common.css
 style info :  サイト全体共通css
=================================================================== */
.clearfix, .wrapInner {
  *zoom: 1;
}
.clearfix:after, .wrapInner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* fontsize YUI
10px = 77% 11px = 85% 12px = 93% 13px = 100%
14px = 108% 15px = 116% 16px = 123.1% 17px = 131%
18px = 138.5% 19px = 146.5% 20px = 153.9% 21px = 161.6%
22px = 167% 23px = 174% 24px = 182% 25px = 189% 26px = 197% */
/*

/*----------------------------------------------------------------------------------
		 								body、リンク色設定 
------------------------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  color: black;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'メイリオ',Meiryo, 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;
  word-wrap: break-word;
}

/* 基本リンク色 */
a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

input, select {
  vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: -4px;
  margin-right: 10px;
}

/*----------------------------------------------------------------------------------
		 				共通内側要素の幅
------------------------------------------------------------------------------------*/
.wrapInner {
  width: 1024px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------------
		 				header
------------------------------------------------------------------------------------*/
#globalHeader {
  background: url(/assets/bg_header.png) 0 bottom repeat-x;
  width: 100%;
  position: relative;
  z-index: 7;
}
#globalHeader .wrapInner {
  background: url(/assets/bg_header.png) 0 bottom repeat-x;
}
#globalHeader h1 {
  float: left;
  width: 250px;
  padding: 13px 0 0;
}
#globalHeader div#headerRight {
  float: right;
  width: 500px;
  text-align: right;
}
#globalHeader div#headerRight ul {
  display: inline-block;
}
#globalHeader div#headerRight ul li {
  display: inline-block;
  vertical-align: middle;
}
#globalHeader div#headerRight p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
#globalHeader div#headerRight p a {
  color: #fff;
  text-decoration: none;
}
#globalHeader div#headerRight p a:hover {
  color: #ccc;
}

/*----------------------------------------------------------------------------------
		 				contentsWrapper
------------------------------------------------------------------------------------*/
div#contentsWrapper {
  line-height: 1.6;
  padding: 0 0;
}

/*----------------------------------------------------------------------------------
		 				footer
------------------------------------------------------------------------------------*/
#globalFooter {
  background: #171717;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  position: relative;
  z-index: 7;
}
#globalFooter .wrapInner {
  background: #171717;
}
#globalFooter p.copyright {
  float: left;
  width: 400px;
}
#globalFooter p.library {
  float: right;
  width: 400px;
  text-align: right;
}
#globalFooter p.library a {
  color: #fff;
}
